


/* Navbar css */


.btn
{
    color:mintcream;
    font-weight: bold;
    border: 1px solid rgb(244, 99, 47);
     
}

.btn:hover{
  color: rgb(86, 229, 14);
  border-color: greenyellow;
}

*{
    margin: 0;
    padding: 0;
      box-sizing: border-box;
  }
  
  html,body{
    min-width: 100%;
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }
  
  header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-height: 12vh;
    min-width: 100%;
    z-index: 10;
    background: #0f1423;
    border-bottom: 2px solid #0c2d48;
  }
  
  header .navigation .logo{
    margin-left: 20px;
  }
  
  header .navigation .logo h1{
    color: #b1d4e0;
    font-size: 30px;
    line-height: 38px;
  }
  
  header .navigation .menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin: auto 20px auto 0;
  }
  
  header .navigation .humbarger {
    margin-right: 20px;
    display: none;
   }
   
  header .navigation .humbarger .bar{
    width: 30px;
    height: 2px;
    margin: 7px;
    background: #b1d4e0;
   }
  
  header .navigation .menu-list li a {
    color:aqua;
    font-size: 1.25rem;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    cursor: pointer;
    transition: color 1s ease, border 1s ease;
    text-decoration: none;
  }

  header .navigation .menu-list li :hover
{
  color: rgb(132, 249, 16);
  
}
  
  /* ====================
    Intro Section
  =======================*/
  .intro-section {
    height: 100vh;
    position: relative;
    background: rgba(15, 20, 35, 0.9);
  }
  
  .intro-section .intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  
  .intro-section .intro-content h1 {
    color: #b1d4e0;
    font-size: 5rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-top: 80px;
  }
  
  .intro-section .intro-content h6{
    margin-top: 5px;
    color: #b1d4e0;
    font-size: 2.5rem;
    font-weight: 300;
  }
  
  .intro-section .intro-content p {
    margin-top: 40px;
    color: #b1d4e0;
  }
  
  .intro-content .tagline {
    margin-top:80px;
  }
  
  .intro-section .intro-content .tagline .change-container{
      position: relative;
    display: inline-block;
    width: 560px;
    margin-bottom: 55px;
      margin-top: 30px;
  }
  
  .intro-section .intro-content .changing {
      position: absolute;
      overflow: hidden;
    width: 100%;
    left:0;
    bottom:0;
    height:0;
    opacity:0;
    color: #b1d4e0;
    text-transform: uppercase;
    word-spacing: 5px;
      text-align: center;
      font-size: 2.5rem;
  }
  
  .changing:nth-child(1) {
    animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 1.5s infinite;
  }
  
  .changing:nth-child(2) {
    animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 3s infinite;
  }
  
  .changing:nth-child(3) {
    animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 4.5s infinite;
  }
  
  @keyframes revealNextWord {
    0% { 
      opacity: 0.3; 
      height: 0.0; 
    }
    10% { 
      opacity: 1; 
      height:1.2em; 
    }
    20% { 
      opacity: 1; 
      height:1.2em; 
    }
    28% { 
      opacity: 0; 
      height:2em; 
    }
    
  }
  
  .intro-section .intro-content .header-btn a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #3498db;
    background-color: #b1d4e0;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
  }
  
  .intro-section .intro-content .header-btn a:before{
      position: absolute;
    content: ""; 
    top: 0px;
    height: 100%;
    left: -25%;
    width: 0%;
    background-color: #3498db;
    transform: skew(50deg);
    transition-duration: 1s;
    z-index: 1;
  }
  
  .intro-section .intro-content .header-btn a:hover{
    color: #b1d4e0;
  }
  
  .intro-section .intro-content .header-btn a:hover:before{
    width: 170%;
  
  }
  
  .intro-section .intro-content .header-btn a span{
      position: relative;
      z-index: 9;
  }
  
  /* ====================
    Responsive Section
  =======================*/
  
  /* Tablet desktop :768px. */
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    header .navigation .menu-list {
      width: 60%;
    }
  
    header .navigation .menu-list li a{
      font-size: 1rem;
    }
  
  }
  
  /* Large Mobile :480px. */
  
  @media only screen and (max-width: 767px) {
  
    header .navigation .menu-list {
      position: absolute;
      top: 12vh;
      min-width: 100%;
      background: rgba(15, 20, 35, 0.99);
      text-align: center;
      display: none;
    }
  
    header .navigation .menu-list li {
      display: block;
    }
  
    header .navigation .menu-list li a {
      display: block;
      padding: 20px;
      transition: color 1s ease, padding 1s ease, background-color 1s ease;
  
    }
  
    header .navigation .menu-list li a:hover{
      color: #b1d4e0;
      padding-left: 30px;
      background: rgba(177, 212, 224, 0.2);
    }
  
  
    header .navigation .humbarger{
      display: block;
    }
  
    .intro-section .intro-content h1 {
      font-size: 2.8rem;
    }
  
    .intro-section .intro-content h6 {
      font-size: 1.4rem;
    }
  
    .intro-section .intro-content .changing {
      font-size: 1.5rem;
    }
  
    .intro-section .intro-content .header-btn a{
      font-size: 1.25rem;
    }
  
  }
  
  
  /* small mobile :320px. */
  
  @media only screen and (max-width: 479px) {
  
    .intro-inner .intro-content h1 {
      font-size: 2rem;
      letter-spacing: 1px;
    }
  
    .intro-inner .intro-content p {
      margin-top: 10px;
    }
  
  }
      


  
/* carousel css */

.carousel .carousel-item {
    height: 400px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }


  
/*cards css  */



body {
    font-family: "Roboto", sans-serif !important;
  }
  
  .sec-icon {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
  }
  
  .sec-icon::before {
    content: "";
    position: absolute;
    height: 1px;
    left: -70px;
    margin-top: -5.5px;
    top: 60%;
    background: #333333;
    width: 50px;
  }
  
  .sec-icon::after {
    content: "";
    position: absolute;
    height: 1px;
    right: -70px;
    margin-top: -5.5px;
    top: 60%;
    background: #333;
    width: 50px;
  }
  
  .advertisers-service-sec {
    background-color: #f5f5f5;
  }
  
  .advertisers-service-sec span {
    color: rgb(255, 23, 131);
  }
  
  .advertisers-service-sec .col {
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  
  .advertisers-service-sec .service-card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: #fff;
  }
  
  .advertisers-service-sec .service-card::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(#0dcaf0, rgb(255, 23, 131));
    position: absolute;
    left: 0%;
    top: -98%;
    z-index: -2;
    transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
  }
  
  .advertisers-service-sec h3 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
    z-index: 3;
  }
  
  .advertisers-service-sec p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    z-index: 3;
  }
  
  .advertisers-service-sec .icon-wrapper {
    background-color: #2c7bfe;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
    z-index: 3;
  }
  
  .advertisers-service-sec .service-card:hover:after {
    top: 0%;
  }
  
  .service-card .icon-wrapper {
    background-color: #ffffff;
    color: rgb(255, 23, 131);
  }
  
  .advertisers-service-sec .service-card:hover .icon-wrapper {
    color: #0dcaf0;
  }
  
  .advertisers-service-sec .service-card:hover h3 {
    color: #ffffff;
  }
  
  .advertisers-service-sec .service-card:hover p {
    color: #f0f0f0;
  }
  
  







/* error page css */
/* 

@import 'https://fonts.googleapis.com/css?family=Inconsolata';

html {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;
  background-color: #000000;
  background-image: radial-gradient(#11581E, #041607), url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inconsolata', Helvetica, sans-serif;
  font-size: 1.5rem;
  color: rgba(128, 255, 128, 0.8);
  text-shadow:
      0 0 1ex rgba(51, 255, 51, 1),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.noise {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: .02;
}

.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background:
      repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0) 100%);
  background-size: auto 4px;
  z-index: 1;
}

.overlay::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      transparent 0%,
      rgba(32, 128, 32, 0.2) 2%,
      rgba(32, 128, 32, 0.8) 3%,
      rgba(32, 128, 32, 0.2) 3%,
      transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7.5s linear 0s infinite;
}

@keyframes scan {
  0%        { background-position: 0 -100vh; }
  35%, 100% { background-position: 0 100vh; }
}

.terminal {
  box-sizing: inherit;
  position: absolute;
  height: 100%;
  width: 1000px;
  max-width: 100%;
  padding: 4rem;
  text-transform: uppercase;
}

.output {
  color: rgba(128, 255, 128, 0.8);
  text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.output::before {
  content: "> ";
}
a {
  color: #fff;
  text-decoration: none;
}

a::before {
  content: "[";
}

a::after {
  content: "]";
}

.errorcode {
  color: white;
} 
 */



 
/* footer css */

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  /* display: inline-block; */
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
  


/* how it works -css */

.containerw1{
    border: 1px solid red;
  }
  


  /*  */
